@model dynamic
@section style {
    <link rel="stylesheet" href="~/web/assets/css/about.css">
    <link rel="stylesheet" href="~/web/assets/css/responseAbout.css">
}

<header class="vh-110 d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="text-white wow bounceInUp" data-wow-duration="3s" data-wow-offset="150">ABOUT</h1>
        <a href="index.html">HOME</a>
        <a class="menu-link">ABOUT</a>
    </div>
</header>
<section class="contact0 ">
    <div class="row">
        <div class="col-md-8 info p-4 pt-5 ps-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 d-flex contact_content wow bounceInUp" data-wow-duration="2s" data-wow-offset="150">
                        <span class="icon-phone pe-2"><i class="fa-solid fa-phone"></i></span>
                        <div>
                            <h3>000 (123) 456 7890</h3>
                            <p>A small river named Duden flows</p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex contact_content wow bounceInUp" data-wow-duration="2s" data-wow-offset="150">
                        <span class="icon-my_location pe-2"><i class="fa-solid fa-location-crosshairs"></i></span>
                        <div>
                            <h3>198 West 21th Street</h3>
                            <p>Suite 721 New York NY 10016</p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex contact_content wow bounceInUp" data-wow-duration="2s" data-wow-offset="150">
                        <span class="icon-clock-o pe-2"><i class="fa-regular fa-clock"></i></span>
                        <div>
                            <h3>Open Monday-Friday</h3>
                            <p>8:00am - 9:00pm</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4 icon">
            <div class="container">
                <div class="d-flex  align-items-center p-5 wow bounceInUp" data-wow-duration="2s" data-wow-offset="150">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="welcome">
    <div class="row">
        <div class="col-md-6 c1">
            <div class="img ">
                <img src="~/web/assets/img/about.jpg" alt="resturent photo" />
            </div>
        </div>
        <div class="col-md-6 welcome-resturent d-flex align-items-center">
            <div class="container ps-5">
                <h2 class="text-white ps-5 wow bounceInUp" data-wow-duration="2s" data-wow-offset="150">WELCOME TO <span><img src="~/web/assets/img/Capture.PNG" alt="pizza logo" /> PIZZA</span>  A RESTAURANT</h2>
                <p class="ps-5">On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
            </div>
        </div>
    </div>
</section>
<section class="chef text-center py-5 wow bounceInUp" data-wow-duration="3s" data-wow-offset="150">
    <div class="container py-5">
        <h2 class="text-white">OUR CHEF</h2>
        <p class="line p-3">
            <span class="deg1"></span>
            <span class="deg2"></span>
            <span class="deg3"></span>
        </p>
        <p class="pb-5">Far far away, behind the word mountains, far from the countries Vokalia and<br> Consonantia, there live the blind texts.</p>
        <div class="row justify-content-center pb-5 wow bounceInUp" data-wow-duration="3s" data-wow-offset="150">
            @foreach (var item in Model.chef)
            {
                <div class="col-md-2 chef-item me-4">
                    <div>
                        <img src="~/files/img/@item.ImgName" class="w-75" alt="chef" />
                    </div>
                    <h3><a href="#">@item.Name</a></h3>
                    <span class="stuff">@item.Rank</span>
                    <p class="pt-3">@item.Description</p>
                </div>
            }
          
        </div>
    </div>
</section>
<section class="customer">
    <div class="happy-customer py-5 text-center">
        <div class="container ">
            <div class="row justify-content-center align-items-center py-5 wow bounceInUp" data-wow-duration="2s" data-wow-offset="150">
                <div class="col-md-2  text-center full-case">
                    <div class="position-relative ">
                        <div class="w-20 customer-icon position-relative position-absolute ">
                            <img src="~/web/assets/img/icon/pizza1.png" alt="pizza" />
                        </div>
                        <div class="icon-content position-relative mb-3 ms-5"></div>
                    </div>
                    <span class="number py-5 counter">100</span><br>
                    <span class="comment-0">Pizza Branches</span>
                </div>
                <div class="col-md-2 full-case text-center">
                    <div class="position-relative ">
                        <div class="w-20 customer-icon position-absolute position-relative">
                            <img src="~/web/assets/img/icon/icons8-medal-48 (1).png" alt="pizza" />
                        </div>
                        <div class="icon-content position-relative mb-3 ms-5"></div>
                    </div>
                    <span class="number py-5 counter">85</span><br>
                    <span class="comment-0">Number of Awards</span>
                </div>
                <div class="col-md-2 full-case text-center">
                    <div class="position-relative">
                        <div class="w-20 customer-icon position-absolute position-relative">
                            <img src="~/web/assets/img/icon/friends.png" alt="pizza" />
                        </div>
                        <div class="icon-content mb-3 position-relative ms-5"></div>
                    </div>
                    <span class="number py-5 counter">1057</span><br>
                    <span class="comment-0">Happy Customer</span>
                </div>
                <div class="col-md-2 full-case text-center">
                    <div class="position-relative">
                        <div class="w-20 customer-icon position-absolute position-relative">
                            <img src="~/web/assets/img/icon/chef-hat.png" alt="pizza" />
                        </div>
                        <div class="icon-content mb-3 position-relative ms-5"></div>
                    </div>
                    <span class="number py-5 counter">900</span><br>
                    <span class="comment-0">Staff</span>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact">
    <div class="row">
        <div class="col-md-6"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13479.322905233028!2d35.08283774853281!3d32.370086204805794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d1a50888200f9%3A0x60d6a4b808cbb6bc!2z2LnYqtmK2YQ!5e0!3m2!1sar!2s!4v1693858886456!5m2!1sar!2s" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        <div class="col-md-6 wow bounceInUp" data-wow-duration="2s" data-wow-offset="150">
            <div class="container w-75 ms-5">
                <h2 class="text-white pb-3 pt-5">Contcat Us</h2>
                <form>
                    <div class="mb-3">
                        <input type="text" class="form-control p-3 bg-transparent text-white border-0" id="exampleInputEmail1" aria-describedby="nameHelp" placeholder="First Name">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control p-3 bg-transparent  text-white border-0" id="exampleInputPassword1" placeholder="Last Name">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control bg-transparent  border-0  rounded-0 text-white" placeholder="Message.." id="floatingTextarea2" style="height: 100px"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>