@section style {
    <link rel="stylesheet" href="~/web/assets/css/blog.css">
    <link rel="stylesheet" href="~/web/assets/css/responseBlog.css">
}
<header class="vh-110 d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="text-white wow bounceInUp" data-wow-duration="2s" data-wow-offset="150">READ OUR BLOG</h1>
        <a href="index.html">HOME</a>
        <a class="menu-link">BLOG</a>
    </div>
</header>
<section class="blog1 text-center py-5 wow bounceInUp" data-wow-duration="2s" data-wow-offset="150">
    <div class="container py-5">
        <h2 class="text-white">RECENT FROM BLOG</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and<br> Consonantia, there live the blind texts.</p>
        <div class="container">
            <div class="row justify-content-center  wow slideInLeft" data-wow-duration="1s" data-wow-offset="150">
                <div class="col-md-4 text-start py-5">
                    <a asp-controller="Home" asp-action="ReadBlog">
                        <div class="img-blog img1"></div>
                    </a>

                    <div class="d-flex comment py-3">
                        <a href="#">Sept 10, 2018</a>
                        <a href="#" class="ps-1">Admin</a>
                        <a href="#" class="ps-1">
                            <i class="fa-regular fa-message"></i> 3
                        </a>
                    </div>
                    <h3><a href="#" class="h3-blog">The Delicious Pizza</a></h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
                <div class="col-md-4 text-start py-5">
                    <a asp-controller="Home" asp-action="ReadBlog">
                        <div class="img-blog img2"></div>
                    </a>
                    <div class="d-flex comment py-3">
                        <a href="#">Sept 10, 2018</a>
                        <a href="#" class="ps-1">Admin</a>
                        <a href="#" class="ps-1">
                            <i class="fa-regular fa-message"></i> 3
                        </a>
                    </div>
                    <h3><a href="#" class="h3-blog">The Delicious Pizza</a></h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
                <div class="col-md-4 text-start py-5">
                    <a asp-controller="Home" asp-action="ReadBlog">
                        <div class="img-blog img3"></div>
                    </a>
                    <div class="d-flex comment py-3">
                        <a href="#">Sept 10, 2018</a>
                        <a href="#" class="ps-1">Admin</a>
                        <a href="#" class="ps-1">
                            <i class="fa-regular fa-message"></i> 3
                        </a>
                    </div>
                    <h3><a href="#" class="h3-blog">The Delicious Pizza</a></h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
                <div class="col-md-4 text-start py-5">
                    <a asp-controller="Home" asp-action="ReadBlog">
                        <div class="img-blog img4"></div>
                    </a>
                    <div class="d-flex comment py-3">
                        <a href="#">Sept 10, 2018</a>
                        <a href="#" class="ps-1">Admin</a>
                        <a href="#" class="ps-1">
                            <i class="fa-regular fa-message"></i> 3
                        </a>
                    </div>
                    <h3><a href="#" class="h3-blog">The Delicious Pizza</a></h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
                <div class="col-md-4 text-start py-5">
                    <a asp-controller ="Home" asp-action="ReadBlog">
                        <div class="img-blog img5"></div>
                    </a>
                    <div class="d-flex comment py-3">
                        <a href="#">Sept 10, 2018</a>
                        <a href="#" class="ps-1">Admin</a>
                        <a href="#" class="ps-1">
                            <i class="fa-regular fa-message"></i> 3
                        </a>
                    </div>
                    <h3><a href="#" class="h3-blog">The Delicious Pizza</a></h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
                <div class="col-md-4 text-start py-5">
                    <a asp-controller="Home" asp-action="ReadBlog">
                        <div class="img-blog img6"></div>
                    </a>
                    <div class="d-flex comment py-3">
                        <a href="#">Sept 10, 2018</a>
                        <a href="#" class="ps-1">Admin</a>
                        <a href="#" class="ps-1">
                            <i class="fa-regular fa-message"></i> 3
                        </a>
                    </div>
                    <h3><a href="#" class="h3-blog">The Delicious Pizza</a></h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example" class="bg-transparent py-5 d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item pe-2">
                    <a class="page-link bg-transparent rounded-5 border-main-color" href="#" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>
                <li class="page-item active disabled pe-2"><a class="page-link one rounded-5 bg-transparent border-main-color z-0" href="#">1</a></li>
                <li class="page-item pe-2"><a class="page-link rounded-5 bg-transparent border-main-color" href="#">2</a></li>
                <li class="page-item pe-2"><a class="page-link rounded-5 bg-transparent border-main-color" href="#">3</a></li>
                <li class="page-item pe-2"><a class="page-link rounded-5 bg-transparent border-main-color" href="#">4</a></li>
                <li class="page-item pe-2"><a class="page-link rounded-5 bg-transparent border-main-color" href="#">5</a></li>
                <li class="page-item pe-2 ">
                    <a class="page-link bg-transparent rounded-5 border-main-color" href="#" aria-label="Next">
                        <span aria-hidden="true">	&gt;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>

