@section style {
    <link rel="stylesheet" href="~/web/assets/css/contact.css">
    <link rel="stylesheet" href="~/web/assets/css/responseContact.css">
}
<header class="vh-110 d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="text-white wow bounceInUp" data-wow-duration="3s" data-wow-offset="150">CONTACT US</h1>
        <a href="index.html">HOME</a>
        <a class="menu-link">CONTACT</a>
    </div>
</header>
<section class="contactCopy  d-flex justify-content-center py-5 wow bounceInUp" data-wow-duration="3s" data-wow-offset="150">
    <div class="container py-5">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-md-3 Contact-nformation me-5 ">
                <div class="col-md-12 pb-3">
                    <h2 class="text-white  pb-4">Contact Information</h2>
                    <p class="text-white-50"> <span class="text-white">Address: </span>198 West 21th Street, Suite 721 New York NY 10016</p>
                </div>
                <div class="col-md-12 pb-3">
                    <p><span class="text-white">Phone: </span><a href="tel://1234567920" class="yellow">+ 1235 2355 98</a></p>
                </div>
                <div class="col-md-12 pb-3">
                    <p><span class="text-white">Email: </span><a href="mailto:info@yoursite.com" class="yellow">info@yoursite.com</a></p>
                </div>
                <div class="col-md-12 pb-3">
                    <p><span class="text-white">Website: </span><a href="#" class="yellow">yoursite.com</a></p>
                </div>
            </div>
            <div class="col-md-5 ms-5">
                <form class=" ">
                    <div class="row justify-content-center">
                        <div class="mb-3 mt-2 col-md-6">
                            <input type="text" class="form-control bg-transparent border-0  rounded-0  text-white" placeholder="Your Name" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3 mt-2 col-md-6">
                            <input type="email" class="form-control bg-transparent border-0  rounded-0 text-white" placeholder="Your Email" id="exampleInputPassword1">
                        </div>
                    </div>
                    <div class="mb-3 mt-2">
                        <input type="text" class="form-control bg-transparent border-0  rounded-0 text-white" placeholder="Subject" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 mt-2">
                        <textarea class="form-control bg-transparent  rounded-0 border-0 text-white" placeholder="Message.." id="floatingTextarea2" style="height: 100px"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</section>
