@section style {
    <link rel="stylesheet" href="~/web/assets/css/readBlog.css">
 
}
<header class="vh-110 d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="text-white wow bounceInUp" data-wow-duration="3s" data-wow-offset="150">READ OUR BLOG</h1>
        <a href="index.html">HOME</a>
        <a class="menu-link">BLOG</a>
        <span class="text-white-50">BLOG SINGLE</span>
    </div>
</header>
<section class="Tips py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 wow bounceInUp" data-wow-duration="2s" data-wow-offset="150">
                <h2 class="mb-3 text-white">10 Tips For The Traveler</h2>
                <p class="">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia
                    suscipit, quisquam<br> doloremque distinctio perferendis et doloribus unde architecto optio
                    laboriosam porro adipisci<br> sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et.
                    Dolore perferendis, enim<br> praesentium omnis, iste doloremque quia officia optio deserunt
                    molestiae voluptates soluta<br> architecto tempora.
                </p>
                <img src="~/web/assets/img/blog/image_1.jpg" alt="pizza image" class="img-fluid" />
                <p class="pt-2">
                    Molestiae cupiditate inventore animi, maxime sapiente optio, illo est nemo veritatis
                    repellat sunt<br> doloribus nesciunt! Minima laborum magni reiciendis qui voluptate quisquam
                    voluptatem soluta<br> illo eum ullam incidunt rem assumenda eveniet eaque sequi deleniti tenetur
                    dolore amet fugit<br> perspiciatis ipsa, odit. Nesciunt dolor minima esse vero ut ea, repudiandae
                    suscipit!
                </p>
                <h2 class="mt-5 text-white ">#2. Creative WordPress Themes</h2>
                <p>
                    Temporibus ad error suscipit exercitationem hic molestiae totam obcaecati rerum, eius aut, in.<br>
                    Exercitationem atque quidem tempora maiores ex architecto voluptatum aut officia doloremque.<br>
                    Error dolore voluptas, omnis molestias odio dignissimos culpa ex earum nisi consequatur quos<br>
                    odit quasi repellat qui officiis reiciendis incidunt hic non? Debitis commodi aut, adipisci.
                </p>
                <img src="~/web/assets/img/blog/image_2.jpg" alt="pizza image" class="img-fluid" />
                <p class="mt-3">
                    Quisquam esse aliquam fuga distinctio, quidem delectus veritatis reiciendis. Nihil
                    explicabo quod, est eos ipsum. Unde aut non tenetur tempore, nisi culpa voluptate maiores officiis
                    quis vel ab consectetur suscipit veritatis nulla quos quia aspernatur perferendis, libero sint.
                    Error, velit, porro. Deserunt minus, quibusdam iste enim veniam, modi rem maiores.
                </p>
                <p>
                    Odit voluptatibus, eveniet vel nihil cum ullam dolores laborum, quo velit commodi rerum eum quidem
                    pariatur! Quia fuga iste tenetur, ipsa vel nisi in dolorum consequatur, veritatis porro explicabo
                    soluta commodi libero voluptatem similique id quidem? Blanditiis voluptates aperiam non magni.
                    Reprehenderit nobis odit inventore, quia laboriosam harum excepturi ea.
                </p>
                <p>
                    Adipisci vero culpa, eius nobis soluta. Dolore, maxime ullam ipsam quidem, dolor distinctio similique
                    asperiores voluptas enim, exercitationem ratione aut adipisci modi quod quibusdam iusto, voluptates
                    beatae iure nemo itaque laborum. Consequuntur et pariatur totam fuga eligendi vero dolorum
                    provident. Voluptatibus, veritatis. Beatae numquam nam ab voluptatibus culpa, tenetur recusandae!
                </p>
                <p>
                    Voluptas dolores dignissimos dolorum temporibus, autem aliquam ducimus at officia adipisci quasi nemo
                    a perspiciatis provident magni laboriosam repudiandae iure iusto commodi debitis est blanditiis
                    alias laborum sint dolore. Dolores, iure, reprehenderit. Error provident, pariatur cupiditate soluta
                    doloremque aut ratione. Harum voluptates mollitia illo minus praesentium, rerum ipsa debitis,
                    inventore?
                </p>
                <div class="links">
                    <a href="#">LIFE</a>
                    <a href="#">SPORT</a>
                    <a href="#">TECH</a>
                    <a href="#">TRAVEL</a>
                </div>
                <div class="chef d-flex py-5">
                    <img src="~/web/assets/img/chef/person_4.jpg" alt="chef" class="w-20" />
                    <div class="ps-5 pb-5">
                        <h3 class="text-white">Lance Smith</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem
                            necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente
                            consectetur similique, inventore eos fugit cupiditate numquam!
                        </p>
                    </div>
                </div>
                <h3 class="mb-5 text-white">6 Comments</h3>
                <div class="comments">
                    <div class="d-flex">
                        <img src="~/web/assets/img/chef/person_1.jpg" alt="chef" height="50px" width="50px"
                             class="rounded-5" />
                        <div class="ps-5">
                            <h3 class="text-white">John Doe</h3>
                            <span class="">JUNE 27, 2018 AT 2:21PM</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum
                                necessitatibus, ipsam
                                impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas
                                earum impedit
                                necessitatibus, nihil?
                            </p>
                            <a href="#">REPLAY</a>
                        </div>
                    </div>
                </div>
                <div class="comments pt-5">
                    <div class="d-flex">
                        <img src="~/web/assets/img/chef/person_1.jpg" alt="chef" height="50px" width="50px"
                             class="rounded-5" />
                        <div class="ps-5">
                            <h3 class="text-white">John Doe</h3>
                            <span class="">JUNE 27, 2018 AT 2:21PM</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum
                                necessitatibus, ipsam
                                impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas
                                earum impedit
                                necessitatibus, nihil?
                            </p>
                            <a href="#">REPLAY</a>
                        </div>
                    </div>
                </div>
                <div class="comments ps-5 pt-5">
                    <div class="d-flex">
                        <img src="~/web/assets/img/chef/person_1.jpg" alt="chef" height="50px" width="50px"
                             class="rounded-5" />
                        <div class="ps-5">
                            <h3 class="text-white">John Doe</h3>
                            <span class="">JUNE 27, 2018 AT 2:21PM</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum
                                necessitatibus, ipsam
                                impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas
                                earum impedit
                                necessitatibus, nihil?
                            </p>
                            <a href="#">REPLAY</a>
                        </div>
                    </div>
                </div>
                <div class="comments ps-6 pt-5">
                    <div class="d-flex">
                        <img src="~/web/assets/img/chef/person_1.jpg" alt="chef" height="50px" width="50px"
                             class="rounded-5" />
                        <div class="ps-5">
                            <h3 class="text-white">John Doe</h3>
                            <span class="">JUNE 27, 2018 AT 2:21PM</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum
                                necessitatibus, ipsam
                                impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas
                                earum impedit
                                necessitatibus, nihil?
                            </p>
                            <a href="#">REPLAY</a>
                        </div>
                    </div>
                </div>
                <div class="comments ps-7 py-5">
                    <div class="d-flex">
                        <img src="~/web/assets/img/chef/person_1.jpg" alt="chef" height="50px" width="50px"
                             class="rounded-5" />
                        <div class="ps-5">
                            <h3 class="text-white">John Doe</h3>
                            <span class="">JUNE 27, 2018 AT 2:21PM</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum
                                necessitatibus, ipsam
                                impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas
                                earum impedit
                                necessitatibus, nihil?
                            </p>
                            <a href="#">REPLAY</a>
                        </div>
                    </div>
                </div>
                <div class="comments py-5">
                    <div class="d-flex">
                        <img src="~/web/assets/img/chef/person_1.jpg" alt="chef" height="50px" width="50px"
                             class="rounded-5" />
                        <div class="ps-5">
                            <h3 class="text-white">John Doe</h3>
                            <span class="">JUNE 27, 2018 AT 2:21PM</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum
                                necessitatibus, ipsam
                                impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas
                                earum impedit
                                necessitatibus, nihil?
                            </p>
                            <a href="#">REPLAY</a>
                        </div>
                    </div>
                </div>
                <div class="Leave_a_comment">
                    <h2 class="text-white pb-3 pt-5">Leave a comment</h2>
                    <form class="pb-5">
                        <div class="my-3">
                            <label for="name">Name *</label>
                            <input type="text" class="form-control p-3 bg-transparent text-white border-0" id="name"
                                   aria-describedby="nameHelp">
                        </div>
                        <div class="mb-3">
                            <label for="email">Email *</label>
                            <input type="text" class="form-control p-3 bg-transparent text-white border-0" id="email"
                                   aria-describedby="nameHelp">
                        </div>
                        <div class="mb-3">
                            <label for="website">Website</label>
                            <input type="text" class="form-control p-3 bg-transparent  text-white border-0"
                                   id="website">
                        </div>
                        <div class="mb-3">
                            <label for="message">Message</label>
                            <textarea class="form-control bg-transparent  border-0  rounded-0 text-white" id="message"
                                      style="height: 100px"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary ">Post Comment</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4 search ps-5">
                <div class="d-flex align-items-center position-relative wow bounceInUp" data-wow-duration="3s" data-wow-offset="150">
                    <input type="text" class="form-control p-3 bg-transparent  text-white border-0 " placeholder="Search... "
                           id="website">
                    <i class="fa-solid fa-magnifying-glass position-absolute" style="color: #bbc2d0dc;"></i>
                </div>
                <div class="list wow bounceInUp" data-wow-duration="2s" data-wow-offset="150">
                    <h3 class="pt-5 text-white">Categories</h3>
                    <li class="pt-3"><a class="pe-5 me-5">Tour</a> <span class="ps-5 ms-5">(12)</span></li>
                    <li class="pt-3"><a class="pe-5 me-5">Hotel</a> <span class="ps-5 ms-5">(22)</span></li>
                    <li class="pt-3"><a class="pe-5 me-5">Coffee</a> <span class="ps-5 ms-5">(37)</span></li>
                    <li class="pt-3"><a class="pe-5 me-5">Drinks</a> <span class="ps-5 ms-5">(42)</span></li>
                    <li class="pt-3"><a class="pe-5 me-5">Foods</a> <span class="ps-5 ms-5">(14)</span></li>
                    <li class="pt-3"><a class="pe-5 me-5">Travel</a> <span class="ps-5 ms-5">(140)</span></li>
                </div>
                <div class="RECENT_BLOG py-5 wow bounceInUp" data-wow-duration="2s" data-wow-offset="150">
                    <h2 class="pb-1 text-white">Recent Blog</h2>
                    <div class="d-flex gap-4 pt-3 align-items-center">
                        <div class="img-blog1"></div>
                        <div>
                            <h3><a href="#" class="h3">Even the all-powerful Pointing has<br> no control about</a></h3>
                            <div class="d-flex recent-blog ">
                                <div>
                                    <a href="#" class="pe-3">
                                        <i class="fa-regular fa-calendar-days"></i> Sept 15,
                                        2018
                                    </a>
                                </div>
                                <div><a href="#" class="pe-3"><i class="fa-solid fa-user"></i> Admin</a></div>
                                <div><a href="#"><i class="fa-regular fa-message"></i> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-4 pt-3 align-items-center pt-3">
                        <div class="img-blog2"></div>
                        <div>
                            <h3><a href="#" class="h3">Even the all-powerful Pointing has<br> no control about</a></h3>
                            <div class="d-flex recent-blog">
                                <div>
                                    <a href="#" class="pe-3">
                                        <i class="fa-regular fa-calendar-days"></i> Sept 15,
                                        2018
                                    </a>
                                </div>
                                <div><a href="#" class="pe-3"><i class="fa-solid fa-user"></i> Admin</a></div>
                                <div><a href="#"><i class="fa-regular fa-message"></i> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-4 pt-3 align-items-center pt-3">
                        <div class="img-blog3"></div>
                        <div>
                            <h3><a href="#" class="h3">Even the all-powerful Pointing has<br> no control about</a></h3>
                            <div class="d-flex recent-blog">
                                <div>
                                    <a href="#" class="pe-3">
                                        <i class="fa-regular fa-calendar-days"></i> Sept 15,
                                        2018
                                    </a>
                                </div>
                                <div><a href="#" class="pe-3"><i class="fa-solid fa-user"></i> Admin</a></div>
                                <div><a href="#"><i class="fa-regular fa-message"></i> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top_cloud py-5 wow bounceInUp" data-wow-duration="2s" data-wow-offset="150">
                    <h2 class="text-white">Top Cloud</h2>
                    <div class="links py-3 ">
                        <a href="#">DISH</a>
                        <a href="#">MENU</a>
                        <a href="#">FOOD</a>
                        <a href="#">SWEET</a>
                        <a href="#">TASTY</a>
                        <div class="pt-3">
                            <a href="#">DELICIOUS</a>
                            <a href="#">DESSERTS</a>
                            <a href="#">DRINKS</a>
                        </div>

                    </div>
                </div>
                <div class="Paragraph py-5 wow bounceInUp" data-wow-duration="2s" data-wow-offset="150">
                    <h2 class="text-white">Paragraph</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                </div>
            </div>

        </div>
    </div>
</section>